<%- include("header") -%>
<div class="box" id="heading">
  <h1>About us!</h1>
</div>
<div class="box">
  <p>this is a simple project to help you organize your day in a simple way</p>
</div>
<div class="box">
  <p>contact me on mohamedyaser.315@gmail.com</p>
  
</div>
<%- include("footer") -%>
